* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border-bottom:1px solid black;
  background-color: white;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}

header img {
  height: 110px;
  widows: 110px;
}

header #menu-desp, header #logo-hamb {
  display: none;
}

header ul {
  display: flex;
  flex-direction: row;
}

header ul li {
  list-style:none;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

header ul li a {
  text-decoration:none;
  color: black;
}

a {
  text-decoration: none;
}

#under-header {
  position: fixed;
  width: 100vw;
  background-color: red;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  top:100px;
  z-index: 9999;
}

#under-header {
  text-decoration: none;
  color: white;
}

#box #numbers {
  color: red;
  text-decoration: none
}

#main-screen{
  width: 100%;
  height: 100vh;
  background-image: url(mudanza.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: center;
  align-items: center;
  text-align: center;
}

#main-screen-2 {
  background-image: url(mudanza-box.jpg);
  width: 100%;
  height: 100vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: center;
  align-items: center;
  text-align: center;
}

#main-screen-2 #box {
 height: 200vh;
}


#main-screen #box, #main-screen-2 #box {
  width: 500px;
  height: 200px;
  border:1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgba(57,95,133, 0.8);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
  color: white;
}

#main-screen #box h2, #main-screen-2 #box h2 {
  font-family: 'Lexend', sans-serif;
  font-size: 40px;
}

#main-screen #box h3, #main-screen-2 #box h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

#main-screen #box #call-us, #main-screen-2 #box #call-us {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

#main-screen #box h4, #main-screen-2 #box h4 {
  font-family: 'Lexend', sans-serif;
  color: red;
}

#advantages {
  width: 100%;
  height: 120vh;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

#advantages #box-info {
  width: 500px;
  height: 150px;
  border:1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgba(57,95,133, 1);
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
  color: white;
  position: absolute;
  top: -100px;
  border-top: 10px solid white;
  animation: efecto 3s ease-in-out infinite;
}

#advantages #box-info h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}

#advantages #box-info h4 {
  font-family: 'Lexend', sans-serif;
  font-weight: 100;
}

#advantages #box-info button {
  width: 190px;
  height: 30px;
  font-family: 'Lexend', sans-serif;
  font-weight: bolder;
}

#advantages #box-info button a {
  text-decoration: none;
  color: black;
}

#advantages .flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;
}

#advantages .box {
  margin: 10px 5px;
  width: 400px;
  height: 200px;
  background-image: url("mudanza-2.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-blend-mode: multiply;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

#advantages .box:hover {
  transform: scale(1.1);
  z-index: 2;
}

#advantages .box h3 {
  font-family: 'Lexend', sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
}

#advantages .box p {
  text-align: center;
  font-family: 'Lexend', sans-serif;
  color: white;
  font-size: 12px;
  width: 70%;

}

#pre-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  max-width: 100%;
}

#pre-foot #pre-foot-btn {
  width: 180px;
  height: 60px;
  background-color: ;
  font-family: 'Lexend', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  margin: 0 auto;
  background-color: rgba(57,95,133, 1);
  border: 0px;
  color: white;
  border-radius: 10px;
  animation: efecto 2s ease-in-out infinite;
  cursor: pointer;
}

.footer {
  background-color: #395f85;
  color: #fff;
  height: 800px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: 'Lexend', sans-serif;
}

.contact-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lexend', sans-serif;
}

.contact-numbers p {
  margin-bottom: 10px;
  text-align: center;
}

.footer iframe {
  width: 600px;
  height: 250px;
}

.footer .contact-numbers a{
  color: white;
  text-decoration: underline;
}



@media only screen and (max-width: 768px){

  header #menu {
    display: none;
  }

  header #menu-desp, header #logo-hamb {
  display: block;
}

header #logo-hamb {
  font-size: 50px;
  cursor: pointer;
}

header #menu-desp {
  position: absolute;
  top:120px;
  width: 100%;
  background-color: white;
  text-align: center;
  border-bottom: 2px solid #2d5d8c;
  display: none;
  transition: 2s;
  font-family: 'Poppins', sans-serif;
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#main-screen, #main-screen-2 {
  height: 120vh;
}

#main-screen #box, #main-screen-2 #box {
  width: 300px;
  height: 300px;
}

#main-screen #box h3,#main-screen-2 #box h3 {
  margin-top: 5px;
  font-size: 15px;
}

#advantages {
  min-height: 320vh;
}

#advantages #box-info {
  width: 310px;
  height: 150px;
  top: -200px;
}

#advantages #box-info h3 {
  font-size: 20px;
}

#advantages #box-info h4, #advantages #box-info h3{
  text-align: center;
}

#advantages .flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

#advantages .flex-container .box {
  max-width: 300px;
  height: 200px;
}

.footer {
  background-color: #395f85;
  color: #fff;
  height: 600px;
}

.footer iframe {
  width: 300px;
  height: 250px;
}

}



@keyframes efecto {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }


}